
web/Web.pidb

web/CloudSidekick.userprefs

web/bin/Web.dll

web/bin/Web.dll.mdb

conf/cato.conf

web/conf

web/config.log

web/obj/Debug/Web.dll.mdb

web/obj/Debug/Web.dll

web/obj/Debug/Web.csproj.FilesWrittenAbsolute.txt

web/Web.userprefs

web/bin/mysql.data.dll

web/bin/ICSharpCode.SharpZipLib.dll

web/temp/*
