/* -----------------------------------*/
/*        Task Run Log Styles         */
/* -----------------------------------*/

/*
These styles apply specifically to the Task Run Log page.
*/
textarea
{
	width: 90%;
}
.instance_header
{
	margin: 2px 4px 2px 4px;
	padding: 1px 8px 1px 8px;
	vertical-align: middle;
}
.action_bar
{
	height: 24px;
	padding-top: 8px;
}
.instance_label
{
	font-weight: bold;
}

.log
{
	margin: 0px 4px 0px 4px;
	height: 535px;
	overflow: auto;
}
.log_item
{
	font: 9pt tahoma;
	margin: 2px 0px 6px 0px;
}
.log_header
{
	font-weight: normal;
	font-size: 0.9em;
	padding: 0px 0px 0px 4px;
}
.log_detail
{
	padding: 1px 8px 1px 8px;
}
.log_command
{
	font: .8em Courier New;
	color: #225522;
	background: #FFF;
	padding: 1px 8px 1px 8px;
	margin-bottom: 1px;
}
.log_results
{
	font: .8em Courier New;
	background: #FFF;
	padding: 1px 8px 1px 8px;
}
.log_variable_name
{
	font: Courier New;
	background: #EFF;
	padding: 0px 8px 2px 8px;
}
.log_variable_value
{
	font: .8em Courier New;
	background: #EFF;
	padding: 0px 8px 2px 8px;
}

.vis_btn
{
	border: 1px solid #404040;
	border-style: inset;
	background-color: #b3b3b3;
	cursor: pointer;
	width: 100px;
	padding: 0px 4px 0px 4px;
	margin: 1px 2px 1px 2px;
	height: 16px;
	border-radius: 12px;
}
.vis_btn_off
{
	background-color: #e3e3e3;
	border-style: outset;
}
.link
{
	cursor: pointer;
	color: #0000FF;
	font-size: 12px;
}
#clear_log
{
	margin-left: 20px;
}
